body {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    height: 100vh;
    margin:0;
}

h1 {
    font-size: 2.5em;
    font-family: sans-serif;
    font-style: bold;
    color:black;
    margin: 0 0 16px 0;
}

#todo {

}

#Sí{
    font-size: 3em;
    background-color:green;
}

#No {
    font-size: 3em;
    background-color:red;
}

